h1 {
    text-align: center;
    font-size: 3.9vw;
    color: red;
    font-family: 'Bebas Neue', cursive; 
}

h3 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Water Brush', cursive;
}

h4{
  text-align: center;
    font-size: 1.8vw;
    color: white;
    font-family: 'Rock Salt', cursive;
}

body {
    text-align: center;
    font-size: 1.3vw;
    font-family: 'Rock Salt', cursive;
    color:white;
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  a{
    background-color: black;
    border: none;
    color: red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.8vw;
    margin: 4px 2px;
    border-color: red;  
    border-width: .10em;  
    border-style:solid;  
    cursor: pointer;
    font-family:'Tapestry', cursive;;
    float: left;  
   }

   a:hover{
    background-color: red;
    color: black;
  }
   

  .responsive {
      width: 45%;
      height: auto;
  }

  .centered {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button-centered {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}





  
