h1 {
    text-align: center;
    font-size: 3.9vw;
    color: blueviolet;
    font-family: 'Bebas Neue', cursive; 
}

h3 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Water Brush', cursive;
}

body {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Lobster', cursive;
    color:white;
    background-color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  button {
    align-items: center;
    background-color: black;
    border: none;
    color: red;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2.5vw;
    margin: 4px 2px;
    border-color: red;  
    border-width: .10em;  
    border-style:solid;  
    cursor: pointer;
    font-family:'Tapestry', cursive;;
  }
  .responsive {
      width: 45%;
      height: auto;
  }
